<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SysEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=E:\GitHub\Blogs\BlogsSys\Blogs\App_Data\BlogsDB.db3&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>